html,body{
  height: 100%;
}
.page{
  height: 100%;
  display: flex;
  gap: 12px;
  background-color: white;
  padding: 16px 12px;
}
.aside{
  flex: 0 1 300px;
  min-width: 200px;
  background-color: gainsboro;
  overflow: hidden;
}
.main{
  flex: 1;
  min-width: 200px;
  background-color: white;
  overflow: hidden;
}